@model BaseSteam.Models.Role
@{
    ViewData["Title"] = "Crear Roles";
}
@{
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
}

<div>
    <form asp-action="Create" class="col-lg-6 offset-lg-3" id="formulario">

        <h1>Crear roles</h1>

        <label class="form-label">Nombre</label>
        <input type="text" class="form-control  required-field" id="Nombre"  asp-for="Nombre" required />
        <label class="form-label mt-3">Permisos</label>
        <input type="text" class="form-control  required-field" id="Permisos" asp-for="Permisos" required />
        <input type="submit" value="Crear" class="btn btn-outline-success mt-3" id="btnAgregar" onclick="return confirmarGuardado()" />
        <input type="reset" value="Limpiar" class="btn btn-outline-info mt-3" id="btnLimpiar" onclick="return limpiarCampos()" />
        <a asp-action="index" class="btn btn-outline-primary mt-3">index roles</a>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmarGuardado() {
        var requiredFields = document.getElementsByClassName('required-field');
        var missingFields = [];

        for (var i = 0; i < requiredFields.length; i++) {
            var field = requiredFields[i];
            if (field.value.trim() === '') {
                var label = field.previousElementSibling.textContent;
                missingFields.push(label);
            }
        }

        if (missingFields.length > 0) {
            mostrarAlerta('Los siguientes campos son obligatorios: ' + missingFields.join(', '));
            return false;
        }

        return true;
    }

    function mostrarAlerta(mensaje) {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: mensaje,
            confirmButtonText: 'Aceptar'
        });
    }

    function limpiarCampos() {
        $('#Nombre').val('');
        $('#Permisos').val('');
    }
</script>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        mostrarAlerta('@errorMessage');
    </script>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: '@successMessage',
            confirmButtonText: 'Aceptar'
        });
    </script>
}


