@model BaseSteam.Models.Usuario
@{
    ViewData["Title"] = "Crear Usuario";
}
@{
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
}


<div class="container">
    <div class="card mt-4 rounded-0 mx-auto color-secundario " style="width: 50rem;">
        <h1 class="mx-3 mt-3">Crear Usuario</h1>
    <form asp-action="Create" class="col-lg-6 offset-lg-3" id="formulario" >
        <label class="form-label mt-3">Nombre</label>
        <input asp-for="Nombre" class="form-control required-field" required />
        <label class="form-label mt-3">Rut</label>
        <input asp-for="Rut" class="form-control required-field" required pattern="^\d{1,2}\.\d{3}\.\d{3}[-][0-9kK]{1}$" title="Ingrese un RUT válido (ejemplo: 12.345.678-9)" />
        <label class="form-label mt-3">Roles</label>
        <select asp-for="Roles" class="form-select required-field" asp-items="ViewBag.IdRoles"></select>
        <label class="form-label mt-3">Teléfono</label>
        <input asp-for="Telefono" type="number" class="form-control required-field" minlength="10" min="1" required />
        <label class="form-label mt-3">Correo</label>
        <input asp-for="Correo" type="email" class="form-control required-field" required />

        <div class="text-end mt-3">
                <input type="submit" value="Crear" class="btn btn-outline-success mt-3 mb-3" id="btnAgregar" onclick="return confirmarGuardado()" />
            <input type="reset" value="Limpiar" class="btn btn-outline-info mt-3 mb-3" id="btnLimpiar" onclick="return limpiarCampos()" />
        </div>
    </form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmarGuardado() {
        var requiredFields = document.getElementsByClassName('required-field');
        var missingFields = [];

        for (var i = 0; i < requiredFields.length; i++) {
            var field = requiredFields[i];
            if (field.value.trim() === '') {
                var label = field.previousElementSibling.textContent;
                missingFields.push(label);
            }
        }

        if (missingFields.length > 0) {
            mostrarAlerta('Los siguientes campos son obligatorios: ' + missingFields.join(', '));
            return false;
        }

        // Validar el formato del RUT
        var rutInput = document.getElementById('Rut');
        var rut = rutInput.value.trim();
        if (!validarRut(rut)) {
            mostrarAlerta('Ingrese un RUT válido (ejemplo: 12.345.678-9)');
            rutInput.classList.add('is-invalid');
            return false;
        }

        // Validar el formato del correo
        var correoInput = document.getElementById('Correo');
        var correo = correoInput.value.trim();
        if (!validarCorreo(correo)) {
            mostrarAlerta('Ingrese un correo válido');
            correoInput.classList.add('is-invalid');
            return false;
        }

        return true;
    }

   
    function mostrarAlerta(mensaje) {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: mensaje,
            confirmButtonText: 'Aceptar'
        });
    }

    function limpiarCampos() {
        document.getElementById("formulario").reset();
    }

    function validarRut(rut) {
        var rutRegex = /^\d{1,2}\.\d{3}\.\d{3}[-][0-9kK]{1}$/;
        return rutRegex.test(rut);
    }

    function validarCorreo(correo) {
        var correoRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return correoRegex.test(correo);
    }
</script>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        mostrarAlerta('@errorMessage');
    </script>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: '@successMessage',
            confirmButtonText: 'Aceptar'
        });
    </script>
}
