@model BaseSteam.Models.Categorium
@{
    ViewData["Title"] = "Crear Categoria";
}



<form asp-action="Create" class="col-lg-6 offset-lg-3">
    <h1>Crear Categoria</h1>
    <div class="">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" asp-for="Nombre" />
        <label class="form-label mt-3">Descripcion</label>
        <input type="text" class="form-control" asp-for="Descripcion" />
        <input type="submit" value="Crear" class="btn btn-outline-success mt-3" />
        <a asp-action="index" class="btn btn-outline-primary mt-3">index Categoria</a>
    </div>
</form>
