@model BaseSteam.Models.Categorium
@{
    ViewData["Title"] = "Crear Categoria";
}

<h1>Crear Categoria</h1>
<div>
    <form asp-action="Create">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" asp-for="Nombre" />
        <label class="form-label">Descripcion</label>
        <input type="text" class="form-control" asp-for="Descripcion" />
        <input type="submit" value="Crear" class="btn btn-outline-success" />
        <a asp-action="index" class="btn btn-outline-primary">index Categoria</a>
    </form>
</div>